body {
  font-family: 'Bradley Hand', cursive;
  font-size: 16px;
  line-height: 1;
  background-color: #928c7f;
  text-align: center;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 2px solid #A68966;
  padding: 10px;
  width: 100%;
  height: 90%;
}

.container {
  margin-bottom: 15%;
}

.jumbotron {
  text-align: center;
  background-color: #A68966;
  color: #d7cdb5;
  border-radius: 1;
  border-bottom: 10px solid #d7cdb5;
}

.clearBtn {
  display:inline-block;
  margin: 5px 5px 5px 5px;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #77dd77;
  color: white;
  transition: all 0.3s ease-out;
}

.clearBtn:hover {
  font-size: 20px;
  background-color: #04aed5;
  transition: all 0.3s ease-in;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  margin: auto;
  text-align: center;

  border: 3px groove #a68966;
  block-size: 100px;
  width: 75%;
  background-color: #d7cdb5;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 3px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #aaeeaa;
  color: white;
}


.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #04aed5;
  color: white;
  transition: all 0.3s ease-out;
}

.saveBtn:hover {
  font-size: 20px;
  background-color: #77dd77;
  transition: all 0.3s ease-in;
}
